name: Publish Docker image

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Allows manual triggering

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true  # This ensures that submodules are also checked out

      - name: Apply patch to submodule
        run: |
          git submodule update --init --recursive
          cd regexper-static
          git apply ../patches/submodule-changes.patch

      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/mr-comand/regex-webtester:latest .

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker Image
        run: docker push ghcr.io/mr-comand/regex-webtester:latest
